### Import Packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Read CSV File

In [2]:
data = pd.read_csv('Suicidesindia2001-2012.csv')
data

,State,Year,Type_code,Type,Gender,Age_group,Total
0,A & N Islands,2001,Causes,Illness (Aids/STD),Female,0-14,0
1,A & N Islands,2001,Causes,Bankruptcy or Sudden change in Economic,Female,0-14,0
2,A & N Islands,2001,Causes,Cancellation/Non-Settlement of Marriage,Female,0-14,0
3,A & N Islands,2001,Causes,Physical Abuse (Rape/Incest Etc.),Female,0-14,0
4,A & N Islands,2001,Causes,Dowry Dispute,Female,0-14,0
...,...,...,...,...,...,...,...
237514,West Bengal,2012,Social_Status,Seperated,Male,0-100+,149
237515,West Bengal,2012,Social_Status,Widowed/Widower,Male,0-100+,233
237516,West Bengal,2012,Social_Status,Married,Male,0-100+,5451
237517,West Bengal,2012,Social_Status,Divorcee,Male,0-100+,189
237518,West Bengal,2012,Social_Status,Never Married,Male,0-100+,2658

In [3]:
data.shape

(237519, 7)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237519 entries, 0 to 237518
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   State      237519 non-null  object
 1   Year       237519 non-null  int64
 2   Type_code  237519 non-null  object
 3   Type       237519 non-null  object
 4   Gender     237519 non-null  object
 5   Age_group  237519 non-null  object
 6   Total      237519 non-null  int64
dtypes: int64(2), object(5)
memory usage: 12.7+ MB

In [5]:
data.isnull().sum()

State        0
Year         0
Type_code    0
Type         0
Gender       0
Age_group    0
Total        0
dtype: int64

### Total Suicides in India

In [6]:
data['Total']

0            0
1            0
2            0
3            0
4            0
          ...
237514     149
237515     233
237516    5451
237517     189
237518    2658
Name: Total, Length: 237519, dtype: int64

In [13]:
data.Total.sum()

13071734

### Total Suicides In India State Wise

In [7]:
index = data['State']=='Punjab'
data[index].Total.sum()

46350

### Total Suicides In India Year Wise

In [8]:
D = data.groupby('Year').Total.sum()
D

Year
2001     976464
2002     993648
2003     997622
2004    1023137
2005    1025201
2006    1062991
2007    1103667
2008    1125082
2009    1144033
2010    1211322
2011    1219499
2012    1189068
Name: Total, dtype: int64

### Total Suicides In India Gender Wise

In [9]:
data.groupby('Gender').Total.sum()

Gender
Female    4702974
Male      8368760
Name: Total, dtype: int64

### Total Suicides In India State-Year Wise

In [10]:
data.groupby(['State','Year'])[['Total']].sum().to_html('index.html')

**Total Suicides In India State-Year-Gender Wise**

In [11]:
data.groupby(['State','Year','Gender'])[['Total']].sum().to_html('SYG.html')